html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    background-color: #18191a;
}

.navbar{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #2b2c2e;
    height: 53px;
    padding: 10px;
    box-shadow: #3c3d3d 1px 1px;
}
.left{
    float: left;
    background-color: #4c4e4e;
    padding: 10px;
    margin: 5px;
    text-decoration:none;
    color: white;
    font-size: large;
    border-radius: 5px;
}
.left:hover {
    background-color:rgba(221, 221, 221, 0.514);
}
.right{
    float: right;
    background-color: #4c4e4e;
    padding: 10px;
    margin: 5px;
    text-decoration:none;
    color: white;
    font-size: large;
    border-radius: 5px;
}
.navbar div{
    margin-right: 20px;
}
.right:hover {
    background-color:rgba(221, 221, 221, 0.514);
}
h1{
    font-size: 70px;
    background-color: rgba(98, 98, 104, 0.459);
    color:rgb(185, 190, 209);
    margin: 100px;
    text-align: center;
    width: 600px;
    border-radius: 10px;
    padding: 20px;
}
.reg{
    margin: 30px;
    margin-right: 2%;
    margin-top: -160px;
    float: right;
    width: 500px;
    background-color: #4d4c4c83;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 0;
}
.reg fieldset{
    border-radius: 10px;
}

.reg label,p,legend{
    font-size: 20px;
    color: rgb(171, 171, 184);
}
.reg input,select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.reason{
    margin: 30px;
    float: left;
    margin-top: 400px;
    width: 40%;
    
}

#prostor_za_objave{
    width: 700px;
    margin: auto;
    margin-bottom: -10px; 
    margin-top: 95px;
}

.post{
   color: #e4e6eb;
   background-color: #242526;
   padding: 0;
   margin: 20px;
   border-radius: 10px;
   padding-bottom: 10px;
}

.post_komentar{
    color: #c8cace;
    background-color: #424446;
    padding: 0;
    margin: 20px;
    border-radius: 10px;
    padding-bottom: 10px;
    width: 500px;
    margin: auto;
}

.post p{
    padding: 20px;
    color: #e4e6eb;
    height: 28px;
    overflow: hidden;
}


h2{
    text-decoration:none;
    padding: 20px;
    color: #e4e6eb;
}
.post a{
    text-decoration:none;
}

.gumbZbrisi{
    float: right;
    width: 50px;
    margin: -10px;
    margin-right: 10px;
    margin-top: -50px;
}

.gumbZbrisi input{
    background-color: #303335;
    color: #e4e6eb;
    font-size: 10px;
    border-radius: 5px;
}

.pristorZaSliko{
    background-color: #42454734;
}

.gumbDodajKomentar input{
    background-color: #303335;
    color: #e4e6eb;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.gumbDodajKomentar{
    width: 100px;
    margin: auto;
}

.gumbZbrisiKomentar{
    right: -450px;
}
.postOpis p{
    height: auto;
}

.post hr{
    width:95%;
    border-width: 1px;
    border-color: #5c5f61;
}

.gumbL{
    float: right;
    margin: 10px;
    margin-left: 10px;
    padding: 0;
    
}

.gumbL input{
    color: white;
    border: none;
    background: none;
}

#dobrodosli{
    background-image: url('../pictures/welcome_back.png'); 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#dobrodosli img{
    width: 100%;
}

#dobrodosli h1{
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.678);
}

.opis{
    margin-top: 300px;
    padding: 10px;
    background-image: url('../pictures/scam.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.opis_0{
    margin-top: 600px;
    padding: 10px;
    background-color: #5c5f61;
    height: 380px;
}

.slika{
    margin-left: 100px;
}

.opis_0 img{
    margin-left: 30px;
    float: right;
    border-radius: 20px;
}

.opisSlika{
    background-color: rgba(77, 77, 77, 0.774);
    width: 600px;
    border-radius: 10px;
}

.opisSlikaLevo{
    float: left;
}


.opisSlikaDesno{
    float: right;
}

.opis p,.opis_0 p{
    padding: 10px;
    color: white;
    font-size: 20px;
}

.opis2{
    
    padding: 10px;
    height: 1000px;
}

.foot{
    background-color: #424446;
    width: 100%;
    height: 50px;
    margin: 0px;
    text-align: center;
}
.foot p{
    font-size: 15px;
    margin: auto;
}

.opis_0 h2{
    color: white;
    font-size: 40px;
}

.time{
    font-size: 13px;
    margin-top: -50px;
}

.center{
    margin:auto;
    margin-top:100px;
    margin-bottom:100px;
}

.inputLeft{
    float:left;
    display: inline;
}


/*

Drop down:

*/


.dropbtn {
    background-color: #444444;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    min-width: 50px;
  }
  
  .dropdown{
    padding-right: 50px;
    float: right;
  }
  
  .dropdown-content {
    margin-left: -60px;
    display: none;
    position: absolute;
    background-color: #f1f1f134;
    width: 190px;
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 14px 18px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {border-radius: 10px;background-color: rgba(221, 221, 221, 0.514);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #949494;}


/*

Search:

*/

.search{
    color: white;
    width: 160px;
    box-sizing: border-box;
    border: 1px solid #4f5153;
    border-radius: 4px;
    font-size: 16px;
    background-color: #242526;
    background-image: url('../pictures/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: fixed;
    bottom: 50px;
    right: 24px;
  }
  .search:focus{
    width: 250px;
  }
  
  #search{
    top: 100px;
    left: 18px;
    height: 45px;
    width: 200px;
  }

  #search:focus{
    width: 400px;
  }


  /*
  
  uspešno posodobljeno
  
  */

  .uPosodobljeno {
    opacity: 0; 
    animation: opacityOn 3s normal forwards;
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    } 
}

/*
Tips
*/

.tooltip {
    position: relative;
    display: inline-block;
    width: 0;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(59, 59, 65);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }